
 
    
      <body>
        <div class="modal-header">						
          <h4 class="modal-title">Edit Patient</h4>
          <button type="button" class="close" (click)="dismissModal()" aria-hidden="true">&times;</button>
        </div>
        <div class="modal-body">					
          <div class="form-group">
            <label style="display: block; margin-bottom: 20px;font-weight: bold;">Patient Information:</label>
            <label>Name</label>
            <input type="text" class="form-control" [(ngModel)]="name" required>
          </div>
          <div class="form-group">
            <label for="species" >Species</label>
  
            <select name="species"  id= "usertype" [(ngModel)]="species" class="form-control">
              <option value=""></option>
              <option value="canine">Canine</option>
              <option value="feline">Feline</option>
              
              
            </select>
          </div>
          <div class="form-group">
            
            <label>Date of Birth</label>
            <input  type="date" class="form-control" [(ngModel)]="birth" required>
          </div>
          <div class="form-group">
            <label>Color</label>
            <input type="text" class="form-control" [(ngModel)]="color"  required>
          </div>
          <div class="form-group">
            <label>Breed</label>
            <input type="text" class="form-control"[(ngModel)]="breed" required>
          </div>
          <div class="form-group">
            <label for="gender" >Gender</label>
  
            <select name="gender"  id= "usertype" [(ngModel)]="gender" class="form-control">
              <option value=""></option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
              
              
            </select>
          </div>
          
          <label style="display: block; margin-bottom: 20px;font-weight: bold;">Identification:</label>
          <div class="form-group">
            <label>Microchip</label>
            <input type="text" class="form-control"[(ngModel)]="microchip" required>
          </div>
          <div class="form-group">
            <label>Date of Implantation</label>
            <input type="date" class="form-control"[(ngModel)]="dateofimplant" required>
          </div>
        </div>
        
        <div class="modal-footer">
          <input type="button" class="btn btn-default" (click)="dismissModal()"  value="Cancel">
          <input type="submit" class="btn btn-success" (click)="update_patient()" value="Update">
        </div>
      
   
      </body>
