

  <title>ADMIN</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
 
        <nav  class="navbar navbar-expand-xl navbar-light bg-light">
          <a href='#/admin' class="navbar-brand">
            <img alt="logo" height="40"   src="assets/images/logo.png" > 
            
            FURCARE<b>  System</b></a>
         
       
          
            <div class="navbar-nav ml-auto">
              <a href='#/admin' class="nav-item nav-link notifications"><i class="fas fa-arrow-left"> BACK</i></a>
            
            </div>
          
        </nav>
 
<ion-content>
  <div class="wrapper" style="border: solid black; margin-left: 200px; margin-right: 200px; margin-top: 50px; border-radius: 5px; border-width: 1px; background: white; min-height: 700px;">
 
  
  
 
  

  
  <div class="w3-container">
    <label style="display: block; font-size: 25px;"><b>Client:</b> &nbsp;{{currclient.name}}</label>
  <ion-grid>
    <ion-row>
      <ion-col size="1.5"></ion-col>
  
 
  <div style="margin-bottom: 100px;" class="w3-center">
    <div style="margin: 20px; margin-bottom: 50px;" class="zxc">
      <ion-searchbar class="searchbar" #search debounce="500" (ionChange)="_ionChange($event)"style="width: 400px; display: inline; float: left;"></ion-searchbar>
   
        <button (click)="openadd()" class="btn btn-success" style="margin-top: 11px; display: inline; ">ADD</button>
      </div>
      <div class="information">
      <ion-list>
        <ion-list *ngFor="let data of patientsfilter">
          <ion-card class="patients">  
            <div style="text-align: left !important; margin: 5px;border-bottom: solid black; border-width: 1px;border-color: #555;">
             
              <button  class="patientname" style="justify-content: left;"><i *ngIf="data.species=='canine'" class="fas fa-dog"></i>
                <i *ngIf="data.species=='feline'" class="fas fa-cat"></i>
                &nbsp;{{data.name}}</button>
              
                <div class="micro">
                <label class="micro" style="display: block; text-align: right; margin: 5px;"><b>Microchip:</b> &nbsp;{{data.microchip}}</label>
                <label class="micro" style="display: block; text-align: right; margin: 5px;"><b>Date Implanted:</b>&nbsp;{{data.dateofimplant}}</label>
              </div>
              </div>
            <div style="vertical-align: middle;text-align: left;">
              <div class="petbut" style="float: right; padding: 10px;">
                <button style="display: block; margin: auto; border-radius: 4px; margin-bottom: 5px;" (click)="treatment(data)" class="btn1 btn-success"  >Treatment Sheet</button>
                <button style="display: block; margin: auto; border-radius: 4px;" (click)="medhistory(data)" class="btn1 btn-success"  >Medical History</button>
                
                <button style="margin: 10px; border-radius: 4px;"  class="btn1 btn-success" (click)="servicepop($event, data)" >Service</button>
                <button style="border-radius: 4px;" (click)="schedule(data.patient_id)" class="btn1 btn-success"  >Add Schedule</button>
    
              </div>
              <div class="zxczxc1" style="float: left;">
                <label style="display: block;"><b>Species:</b> &nbsp;{{data.species}}</label>
                <label style="display: block;"><b>Breed</b>: &nbsp;{{data.breed}}</label>
                <label style="display: block;"><b>Color</b>: &nbsp;{{data.color}}</label>
                <div>
                  <a (click)="markdeletepatient(data)" style="cursor: pointer;margin: 5px; "><i class="fas fa-trash-alt"></i></a>  
                  <a (click)="opendit(data)" style="cursor: pointer;margin: 5px; "><i class="fas fa-edit"></i></a>
                </div>
              </div>
            
           
            
            <div class="zxczxc" style="text-align: right; margin-right: auto;">
              <label style="display: block;"><b>Birth:</b> &nbsp;{{data.birth}}</label>
              <label style="display: block;"><b>Gender</b>: &nbsp;{{data.gender}}</label>
              
            </div>
            
            </div>
           
          </ion-card>
  
  
  
  
        
        </ion-list>
  
      </ion-list>
 </div>
  
  
  
  </div>
 
  <ion-col size="1.5"></ion-col>

</ion-row>

  

       
  <div class="w3-center">
    <div class="w3-container1" style="overflow-x:auto;">
      
    
     
    </div>  
  </div>   
  
  

 
</ion-grid>
  
  

  </div>
 
  
  
 </div>
  
</ion-content>