

  <title>ADMIN</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
 
        <nav class="navbar navbar-expand-xl navbar-light bg-light">
          <a routerLink='/admin' class="navbar-brand">
            <img alt="logo" height="40"   src="assets/images/logo.png" > 
            
            FURCARE<b>  System</b></a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
       
          <!-- Collection of nav links, forms, and other content for toggling -->
          <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
            
            <div class="navbar-nav ml-auto" style="margin-right: 40px;">
              <a routerLink='/admin' class="nav-item nav-link active">Home</a>
              <a routerLink='/admin/schedules' class="nav-item nav-link">Schedules</a>
              
              <a routerLink='/admin/documents' class="nav-item nav-link">Reports</a>
              <a routerLink='/admin/manage-users' class="nav-item nav-link">Manage Users</a>
            </div>
           
        
          </div>
        
            <a href="#" class="nav-item nav-link notifications" style="margin: auto; color: black;"><i class="fa fa-bell-o" ></i><span class="badge">1</span></a>
          
          
              <a style="margin: auto;"
              
              (click)="logout()"
              class="nav-link dropdown-toggle user-action"><button> </button></a>
              <!-- (click)="acc_popover($event)" -->
          
          
        </nav>
 
<ion-content>

 
  
  
 
  

  
  <div class="w3-container">
  <ion-grid>
    <ion-row>
      
  
 
  <div style="margin-bottom: 100px; margin-left: auto;" class="w3-center">
    
    <div style="margin: 20px; margin-bottom: 50px;" class="zxc">
    <ion-searchbar class="searchbar" onkeyup="myFunction()"style="width: 400px; display: inline; float: left;"></ion-searchbar>
 
      <button (click)="openadd()" class="btn btn-success" style="margin-top: 11px; display: inline; ">ADD</button>
      
    </div>
 
    
    <div>
      

  <div class="information">
   <ion-list style="background-color: #b3d1ff;">
      <div *ngFor="let data of clients">
        <ion-card class="clients">  
          <div style="text-align: left !important;">
            
            <button (click)="gotopet(data.client_id)" class="clientname" ><i class="fas fa-user"></i>&nbsp;{{data.name}}</button>
          </div>
          <div style="vertical-align: middle; margin: 10px;">
            <label style="display: block;"><i class="fas fa-map-marker-alt"></i>&nbsp;{{data.address}}</label>
            <label style="display: block;"><i class="fas fa-at"></i>&nbsp;{{data.email}}</label>
            <label style="display: block;"><i class="fas fa-mobile-alt"></i>&nbsp;{{data.mobile_number}}</label>
          </div>
        </ion-card>




      
      </div>

</ion-list>
</div>    
</div>
  
  
  
  </div>
 
  
    <div style="width: 50vh; margin: 20px; margin-right: 100px; margin-left: auto; ">
      <button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </button>
      <button style="float: right;" fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </button>
      <h2 style="text-align: center;">{{ viewTitle }}</h2>
     
     
      
      <calendar
      [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      
    >
    </calendar></div>

 

</ion-row>

  

       
  <div class="w3-center">
    <div class="w3-container1" style="overflow-x:auto;">
      
    
     
    </div>  
  </div>   
  
  

 
</ion-grid>
  
  

  </div>
 
  
  
 
  
</ion-content>