

  <title>ADMIN</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
 
        <nav class="navbar navbar-expand-xl navbar-light bg-light" >
          <a href='#/admin' class="navbar-brand">
            <img alt="logo" height="40"   src="assets/images/logo.png" > 
            
            FURCARE<b>  System</b></a>
          <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          
       
          <!-- Collection of nav links, forms, and other content for toggling -->
          <div id="navbarCollapse" class="collapse navbar-collapse justify-content-start" style="margin-right: 50px;">
            
            <div class="navbar-nav ml-auto" style="margin-right: 40px;">
              <a href='#/admin' class="nav-item nav-link active">Home</a>
     
              
              <a href='#/reports' class="nav-item nav-link">Reports</a>
              <div *ngIf="currentuser.usertype == 'admin'"  >
              <a href='#/manage-users' class="nav-item nav-link">Manage Users</a>
            </div>
            </div>
           
        
          </div>
        
            <a (click)="notifypop($event)" class="nav-item nav-link notifications" style="margin: auto; color: black;cursor:pointer"><i class="fa fa-bell-o"></i><span class="badge">{{notifydata2.length+ notifydata4.length}}</span></a>
          
          <button (click)="marklogout()" style="background: none;"> Sign out</button>
              <a style="margin: auto;"
              
              (click)="marklogout()"
              class="nav-link dropdown-toggle user-action"></a>
              <!-- (click)="acc_popover($event)" -->
          
         
        </nav>
 


 
        <ion-content>
  
 
  

  <div class="wrapper" style="border: solid black; margin-left: 200px; margin-right: 200px; margin-top: 50px; border-radius: 5px; border-width: 1px; background: white; min-height: 700px;">
  <div class="w3-container" >
  <ion-grid>
    <ion-row>
      
  
 
  <div style="margin-bottom: 100px; margin-left: auto;" class="w3-center"  >
    
    <div style="margin: 20px; margin-bottom: 50px;" class="zxc">
    <ion-searchbar class="searchbar" style="width: 400px; display: inline; float: left;" [(ngModel)]="filter"></ion-searchbar>
 
      <button (click)="openadd()" class="btn btn-success" style="margin-top: 11px; display: inline; ">ADD</button>
      
    </div>
 
    
    <div>
      

  <div class="information">
   <ion-list>
      <div *ngFor="let data of sortClients | filter : filter | paginate : {
        itemsPerPage: tableSize,
        currentPage: page,
        totalItems: count
      };" >
        <ion-card class="clients">  
          <div style="text-align: left !important;">
            
            <button (click)="gotopet(data.client_id)" class="clientname" ><i class="fas fa-user"></i>&nbsp;{{data.name}}</button>
                   <a (click)="markdeleteclient(data)" style="cursor: pointer;float: right;margin: 5px;"><i class="fas fa-trash-alt"></i></a>  
                    <a (click)="opendit(data)" style="cursor: pointer; float: right;margin: 5px;"><i class="fas fa-edit"></i></a>
                     
          </div>
          
          <div style="vertical-align: middle; margin: 10px;">
            <label style="display: block;"><i class="fas fa-map-marker-alt"></i>&nbsp;{{data.address}}</label>
            <label style="display: block;"><i class="fas fa-at"></i>&nbsp;{{data.email}}</label>
            <label style="display: block;"><i class="fas fa-mobile-alt"></i>&nbsp;{{data.mobile_number}}</label>
            <label style="display: block;">&nbsp;{{data.date_added | date}}</label>
          </div>
        </ion-card>




      
      </div>

</ion-list>
<div class="d-flex justify-content-center">
  <pagination-controls 
    responsive="true" 
    previousLabel="Prev" 
    nextLabel="Next" 
    (pageChange)="onTableDataChange($event)"
    maxSize="7">
  </pagination-controls>
</div>
</div>    
</div>
  
  
  
  </div>
 
  
    <div class="calendar" style="width: 30%; margin: 20px; margin-left: auto; margin-top: 40px; margin-right: auto;">
<div style="text-align: center;"> <button style="border-radius: 4px;" (click)="schedule()" class="btn1 btn-success"  >Add Schedule</button></div>
      <button fill="clear" (click)="back()">
        <ion-icon name="arrow-back" slot="icon-only"></ion-icon>
      </button>
      <button style="float: right;" fill="clear" (click)="next()">
        <ion-icon name="arrow-forward" slot="icon-only"></ion-icon>
      </button>
      <h2 style="text-align: center;">{{ viewTitle }}</h2>
     
     
      
      <calendar 
      [eventSource]="eventSource"
      [calendarMode]="calendar.mode"
      [currentDate]="calendar.currentDate"
      (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)"
      (onTimeSelected)="onTimeSelected($event)"
      
    >
    </calendar></div>

 

</ion-row>

  

       
  <div class="w3-center">
    <div class="w3-container1" style="overflow-x:auto;">
      
    
     
    </div>  
  </div>   
  
  

 
</ion-grid>
  
  

  </div>
 
  
</div>
 
  
</ion-content>