ion-content{

 border: solid #b3d1ff;
 border-width: 2px;
 border-bottom: solid black;
 border-bottom-width: 1px;

}
.modal-footer {

    border: solid #b3d1ff;
    border-width: 2px;

} 

.desc{
        display: block;

    white-space: pre-wrap;
}
body{
    overflow: auto;
    scroll-behavior: auto;
}